<header></header>
<br></br>
<body>
<h3><strong>EDIT:</strong> Athlete Post  <%=@user_post.id%></h3>
  <h4 style= "text-align: right">
    <a href="/users/journal">Cancel</a>
  </h4>
  
  <form class="" action="/users/user_posts/<%=@user_post.id%>" method="post">
    <div class="container-index">
      <input type="hidden" name="_method" value="patch">
      <label for="workout_name">Workout Name: </label>
      <input type="text" name="workout_name" value ="<%= @user_post.workout_name %>">
      <br></br>
      <label for="workout" vertical-align:"top">Workout : </label>
      <textarea class="journal-entry-text" name="workout"><%= @user_post.workout %></textarea>
      <br></br>
      <label for="score">Score: </label>
      <input type="text" name="score" value ="<%= @user_post.score %>">
      <label for="rx">RX: </label>
      <input type="text" name="rx" value ="<%= @user_post.rx %>">
    </div>
    <div class="submit-form">
      <input class="submit-button" type="submit" name="" value="Submit" style="width: 200px;">
    </div>
  </form>
  
 
</body>