<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>
  <br></br>
  <body>
  <h3>Athlete Post:  <%=@user_post.id%></h3>
  <div>
    <a href="/users/user_posts/<%= @user_post.id%>/edit">Edit Post</a>
  </div>
  <div class="container-index">
        <p><strong> <%=@user_post.workout_name %></strong></p>
        <p><%=@user_post.workout.split("\n").join("<br />") %></p>
        <br></br>
        <p><strong>Score: </strong><%=@user_post.score %> (<%=@user_post.is_rx?%>)</p>
        <p><strong>Athlete:</strong> <%= current_user.first_name.capitalize%> <%= @current_user.last_name.capitalize%></p>
        <p>Performed on: <%=@user_post.created_at.to_formatted_s(:long_ordinal) %></p>
        <p>Updated: <%=@user_post.updated_at.to_formatted_s(:long_ordinal) %></p>
    </div>
  </body>