<body>
    <ul>
        <li>
            <%=@user_post.user_id %>
        </li>
        <li>
            <%=@user_post.workout_name %>
        </li>
        <li>
            <%=@user_post.workout %>
        </li>
        <li>
            <%=@user_post.rx %>
        </li>
        <li>
            <%=@user_post.score %>
        </li>
        <li>
            <%=@user_post.created_at %>
        </li>
</body>