<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>
  
  <body>
  <h3>Athlete Post  <%=@user_post.id%></h3>
    <div class="container-index">
        <ul>
        <li> <strong> <%=@user_post.workout_name %> </strong>
        </li>
        <li>
        <%=@user_post.workout.split("\n").join("<br />") %>
        </li>
        <br></br>
        <li>
            <strong>Score: </strong><%=@user_post.score %><%=@user_post.is_rx?.upcase %>
        </li>
        <li>
            <strong>Athlete:</strong> <%= current_user.first_name.capitalize%> <%= @current_user.last_name.capitalize%>
        </li>
        <li></li>
        <li> Performed on: <%=@user_post.created_at.to_formatted_s(:long_ordinal) %></li>
        </ul>
    </div>
  </body>