<div class="container-image">
  <img src="/images/deadlift.jpg" width=100%>
  <div class="center-left">
    <h1 class="image-texta"><%=current_user.first_name.upcase%></h1>
    <h1 class="image-textb"><%=current_user.last_name.upcase%></h1>
  </div>
  <div class="bottom-table">
    <table class="athlete-table">
      <tr class="athlete-row">
        <td class="table-infoa">Sex:</td>
        <td class="table-infoa">Height:</td>
        <td class="table-infoa">Weight:</td>
        <td class="table-infoa">Member Since:</td>
      </tr>
      <tr class="athlete-row">
        <td class="table-infob"><%= @current_user.sex.capitalize %></td>
        <td class="table-infob"><%= @current_user.height %></td>
        <td class="table-infob"><%= @current_user.weight %> lb</td>
        <td class="table-infob"><%= @current_user.created_at.strftime("%B") %> <%= @current_user.created_at.year %></td>
      </tr> 
    </table>
  </div>
</div>
<div style="float:right;">Last Updated: <%= @current_user.updated_at %></div>
<br></br>
<td>
  <div style="float:left;width:50%;">
    <h3>WORKOUT JOURNAL</h3>
  </div>
  <div style="float:right;width:50%;text-align:right;">
    <a href="/users/create_entry">Log Workout</a>
  </div>
</td>
<br></br>
<table>
  <% @user_posts.each do |user_post| %>
    <tr>
      <td class="journal-cella">
        <a href="/users/user_posts//<%= user_post.id %>"><%=user_post.created_at.to_formatted_s(:long_ordinal)%>
      </td>
      <td class="journal-cellb"> </a><strong><%= user_post.workout_name%></strong> </td>
      <td class="journal-cellb"> <%=user_post.is_rx?%> </td>
      <td class="journal-cellb"> Score: <%=user_post.score%> </td>
      <td class="journal-cellc"> <a href="/users/user_posts/<%= user_post.id%>/edit">Edit Post</a> </td>
    </tr>
    <% end %>
</table>
<br></br>