<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>
  <body>
    <div class="container-index">
    
      <div class="title-index">
        <h2><%= @user.name.split.map(&:capitalize).join(' ') %>       </h2>
      </div>
      <div class="content">
        <p>Email: <%= @user.email %></p>
        <p>Sex: <%= @user.sex.capitalize %></p>
        <p>Height: <%= @user.height %></p>
        <p>Weight: <%= @user.weight %> lbs.</p>
        <br></br>
        <p>Member Since: <%= @user.created_at.strftime("%B") %> <%= @user.created_at.year %></p>
        <p>Last Updated:<%= @user.updated_at %></p>
        </div>
    </div>
  </body>
</div>