
<div class="container-image">
  <img src="/images/wbban.jpg" width=100%> 
  <div class="wbban">
  </div>
  <div class="bottom-table">
    <table class="athlete-table">
      <tr class="wb-row">
        <td class="wbtext">Whiteboard</td>
      </tr> 
    </table>
  </div>
</div>
<br></br>
    <div style="text-indent: 16px;">
      <% if admin? %>
        <h3><a href= "/admin/create_entry">Add Workout</a></h3>
      <% end %>
    </div>
    <br></br>
    <div class="content">
    <h2>Today's Workout </h2>
    </div>
    <p><% AdminWorkout.last.admin_workout_name %></p>
    <p><% AdminWorkout.last.admin_workout %></p>
    <br></br>
    
      <% AdminWorkout.all.each do |workout| %>
        <table>
          <td class="journal-cella">
            <a href="/admin/workouts/<%= workout.id %>"><%=workout.created_at.to_formatted_s(:long_ordinal)%></a>
          </td>
          <td class="journal-cella"> <strong><%= workout.admin_workout_name%></strong> </td> 
          <td class="journal-cellb"> <%= workout.admin_workout%> </td>
          <% if admin? %>
            <a href="/users/user_posts/<%= @admin_workout.id%>/edit">Edit</a>
        <% end %>
        </table>
      <% end%>